.check-wrapper {
  margin-top: 2rem;
  padding-block: 2.5rem 3rem;
  border-top: 1px solid var(--input-stroke);
}

.checkbox + .checkbox {
  margin-top: .75rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: .75rem;
  margin-block: .25rem;

  &:has(:checked) {
    & .img-check {
      border-color: var(--brand-light);

      & svg path {
        fill: var(--brand-light);
      }
    }
  }

  & .img-check {
    position: relative;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    border: 1px solid var(--input-stroke);
    border-radius: .25rem;
    background-color: var(--input-base);
    height: 1.25rem;
    aspect-ratio: 1/1;
    padding: 1px;

    & svg {
      height: 1rem;
      aspect-ratio: 1/1;
      object-fit: contain;

      & path {
        fill: var(--input-base);
      }
    }

    & input[type="checkbox"] {
      position: absolute;
      inset: 0;
      opacity: 0;
    }
  }

  & label a {
    color: var(--brand-light);
    font-weight: 500;
  }
}