.input-wrapper label {
  display: block;
  margin-bottom: .75rem;
}

input, textarea {
  display: block;
  width: 100%;
  background-color: var(--input-base);
  padding: 0.8125rem 1rem;
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  
  &::placeholder {
    color: var(--input-placeholder);
  }
}

/* .radio-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
}

.radio-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 8.06rem;
  padding: 10.5px 18px;
  margin: 4px 5px;
  border-radius: 0.312rem;

  & :hover {
    cursor: pointer;
    background-color: var(--shape-button);
  }
  
  & :focus-within {
  }

  & > label {
    margin-bottom: 0;
    margin-left: .5rem;
  }

  & input {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
}

input[type="date"] {
  color: var(--input-placeholder);
} */