.app {
  display: grid;
  grid-template-columns: 35.93% 64.06%;
  height: 100vh;
  overflow: hidden;
  padding-inline: 1.25rem;
}

aside {
  margin-block: 1.25rem;
  background: url(../assets/Background.png) no-repeat center/cover;

  & .inner-aside {
    margin: 2rem;

    & img {
      display: block;
      width: 3rem;
      aspect-ratio: 1/1;
      object-fit: contain;
      margin-bottom: 1rem;
    }

    & span {
      font: var(--logo);
      color: var(--pink);
    }

    & p {
      margin-top: .25rem;
      color: var(--text-heading);
      font-weight: 300;
    }
  }
}

main {
  background-color: var(--shape-body);
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  
  .container {
    overflow: auto;
    /* margin: 1.25rem 1.25rem 0 1.25rem; */
    margin: 5rem 8.125rem;
  }

  & h1 {
    font: var(--heading-md);
    color: var(--text-heading);
    margin-bottom: 2.5rem;
  }
}